.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container div{
    background-color: black;
    color: white;
    width: 400px;
    height: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}

.counter-container button{
    padding: 8px 15px;
    margin: 10px auto;
}