a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(252, 246, 246);
  outline: none;
}

/* nav ul li{
  display: flex;
} */

nav ul{
  display: flex;
  gap: 40px;
  list-style-type: none;
}

nav{
  background-color: rgb(6, 172, 172);
  padding: 20px;

  display: flex;
  justify-content: space-around;
}

p{
  color: white;
  font-size: 18px;
}

.logout-btn{
  padding: 5px 20px;
  outline: none;
  background: none;
  border: none;
  color: white;
}

.login-info{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
}

.hamburger{
  display: none;
  width: 50px;
  height: 50px;

}

@media (max-width: 768px){
  .hamburger{
    display: block;
  }

  nav ul{
    display: none;
  }

  .nav-underline.open{
    display: flex;
    flex-direction: column;

  }

  .login-info{
    align-items: start;
  }
}
