.error{
    color: red;
}

.login-container{
    display: flex;
    justify-content: center;
    color: rgb(17, 115, 206);
}

.login-card{
    padding: 50px 10px;
    margin: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: .5px .6px 5px 1px rgb(179, 178, 178);
    border-radius: 10px;

}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 200px; */
}

.form-input{
  display: flex;
  gap: 10px;
  width: 280px;
}
