<app-navbar/>

<div class="heading">
  <h2 class="text-center m-lg-4">Welcome to site</h2>
</div>
<span class="p-1">click the button to show Todo List:-</span>
<button class="btn btn-lg link-info btn-dark" (click)="show()"> click me </button>
@if(!todoItems().length){
  <p>Loading....</p>
}
@else {
  <form class="p-3">
    <label for="search">Filter Todos</label>
    <input type="text" class="form-control w-25 mt-1" name="search" [(ngModel)]="searchTodo" id="search">
  </form>
}
<div class="grid text-center">
  <div class="row g-2 m-4">
    @for (d of todoItems() | filterTodos : searchTodo(); track d.id) {
    <div class="col-3">
      <div class="p-2">
        <ul class="list-group" TodoCompeletion [isCompleted]="d.completed">
          <li class="list-group-item bg-black text-white"><input type="checkbox" name="todo" [checked]="d.completed" (change)="todoClicked(d)" id="todo">Id: {{d.id}}</li>
          <li class="list-group-item" >User-Id: {{d.userId}}</li>
          <li class="list-group-item">Status: {{d.completed ? 'completed' : 'Not completed'}}</li>
          <li class="list-group-item" colorchange [color]="'yellow'">Title: {{d.title}}</li>
        </ul>
      </div>
    </div>
    }
  </div>
</div>


